<%
  @data = RedCloth.new(\
    ERB.new(@page.parse_syntax, nil, "<>").result(binding))\
    .to_html
%>

<%# @data = "<pre>" + @page.parse_syntax + "</pre>" %>


<div class="page-header"><h1><%= @page.title %></div>

  <div class="well"><%= @data.html_safe %></div>

  <div class="form-actions">
    <%= link_to 'Edit Page', edit_page_path(@page), :class => 'btn btn-mini btn-inverse' %>
    <%= link_to 'Remove Page', @page, :method => :delete, :class => 'btn btn-mini btn-danger' %>
  </div>
